/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

/* Set initial values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

input,
button {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    outline: none;
}

/* Background */

body {
    width: 90%;
    margin: auto;

    background-image: linear-gradient(to top, #ff99c8, #fcf6bd, #d0f4de, #a9def9, #e4c1f9);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}


/* header */

header {
    margin: 20px;
    padding: 10px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    text-align: center;
}

/* Form section */

form {
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: center;
}

/*  Input field*/

#todo-input {
    width: 80%;
    padding: 10px;
    border-radius: 20px 0px;
    border: 1px solid black;
    font-size: 16px;
}


/* buttons */

button {
    cursor: pointer;
    background: none;
}

/* Button bounce on hover taken from https://github.com/IanLunn/Hover */

button img {
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

button:hover img,
button:focus img,
button:active img {
    transform: scale(1.1);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

img {
    width: 30px;
    height: 30px;
    padding: 2px;
}

/* ToDo Section */

#todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.todo * {
    display: flex;
    justify-content: center;
}

.todo-item {
    background: linear-gradient(to top, rgba(255, 153, 200, 0.8), rgba(252, 246, 189, 0.8), rgba(208, 244, 222, 0.8), rgba(169, 222, 249, 0.8), rgba(229, 195, 249, 0.8));
    border-radius: 5px 10px;
    text-align: center;
    border: 1px solid black;
    margin-left: 5px;
}

.lead-img {
    padding: 0;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 5px;
}

footer p {
    text-align: center;
}

i {
    cursor: pointer;
    color: black;
}

i:hover {
    transform: scale(1.5);
    color: #fcf6bd;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #d0f4de;
}